In [ ]:
import pandas as pd
import os
from glob import glob

data1 = pd.read_excel("marginInOut07_all.xlsx")
data2 = pd.read_excel("marginInOut07_8705.xlsx")
data3 = pd.read_excel("marginInOut07_15553.xlsx")
data4 = pd.read_excel("marginInOut07_12935.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
display('data左',data3)

'data左'

,單號,客戶帳號,客戶名稱,介紹人賬戶,入金,出金,信用調整,執行時間,評論
0,53295791.0,379029920,LI LONG YANG,17072,0.00,-100.00,0.00,2022-07-08 06:22:42,CRM to 379032693
1,53295801.0,379029920,LI LONG YANG,17072,110.35,0.00,0.00,2022-07-08 06:23:04,CRM from 379032693
2,53295823.0,379029920,LI LONG YANG,17072,0.00,-2882.85,0.00,2022-07-08 06:23:53,CltWithdraw
3,53295792.0,379032693,LI LONG YANG,17072,100.00,0.00,0.00,2022-07-08 06:22:42,CRM from 379029920
4,53295800.0,379032693,LI LONG YANG,17072,0.00,-110.35,0.00,2022-07-08 06:23:04,CRM to 379029920
5,53236946.0,379035586,TAN WEN BIN,17075,5022.16,0.00,0.00,2022-07-06 07:58:01,"USDBE [4155166] RMB@6.77/$34,"
6,53245159.0,379035586,TAN WEN BIN,17075,9985.23,0.00,0.00,2022-07-06 12:55:01,Usepay [4155277] RMB@6.77/$67
7,53281894.0,379035586,TAN WEN BIN,17075,9985.23,0.00,0.00,2022-07-07 16:14:01,"USDBE [4155888] RMB@6.77/$67,"
8,53303284.0,379035586,TAN WEN BIN,17075,9896.60,0.00,0.00,2022-07-08 12:07:01,"USDBE [4156031] RMB@6.77/$67,"
9,53146930.0,379033000,LI FENG LI,17620,0.00,0.00,-1445.59,2022-07-01 09:37:36,Credit Out
10,53182318.0,379033670,RONG ZONG QIAO,17620,302.81,0.00,0.00,2022-07-04 12:13:01,"Sonice [4154289] RMB@6.77/$2,"

In [ ]:
display('合併結果')

display(pd.concat([data1,data2,data3,data4],
                  axis=0))

'合併結果'

,單號,客戶帳號,客戶名稱,介紹人賬戶,入金,出金,信用調整,執行時間,評論
0,53253533.0,379009056,WU XIAO LONG,11581,56.00,0.0,0.0,2022-07-06 17:01:03,Trf From client: 11581
1,53314083.0,379009056,WU XIAO LONG,11581,55.00,0.0,0.0,2022-07-08 17:50:58,Trf From client: 11581
2,53403219.0,379009056,WU XIAO LONG,11581,63.00,0.0,0.0,2022-07-13 17:23:06,Trf From client: 11581
3,53455697.0,379009056,WU XIAO LONG,11581,70.00,0.0,0.0,2022-07-15 09:46:39,Trf From client: 11581
4,53477534.0,379009056,WU XIAO LONG,11581,60.00,0.0,0.0,2022-07-18 08:39:58,Trf From client: 11581
...,...,...,...,...,...,...,...,...,...
124,53454291.0,379036360,LI YING,17656,997.07,0.0,0.0,2022-07-15 08:40:01,"USDBE [4157319] RMB@6.82/$6,8"
125,53319210.0,379019976,LI YONG,17960,295.42,0.0,0.0,2022-07-11 03:17:01,"BFT [4156097] RMB@6.77/$2,000"
126,53397191.0,379019976,LI YONG,17960,220.91,0.0,0.0,2022-07-13 15:49:01,"BFT [4156824] RMB@6.79/$1,500"
127,53509382.0,379019976,LI YONG,17960,219.94,0.0,0.0,2022-07-19 13:15:01,"BFT [4157809] RMB@6.82/$1,500"
128,53609136.0,379019976,LI YONG,17960,730.99,0.0,0.0,2022-07-25 03:14:01,"BFT [4158463] RMB@6.84/$5,000"

In [ ]:
data_concat = pd.concat([data1,data2,data3,data4])
print(data_concat)

             單號       客戶帳號          客戶名稱  介紹人賬戶      入金   出金  信用調整  \
0    53253533.0  379009056  WU XIAO LONG  11581   56.00  0.0   0.0
1    53314083.0  379009056  WU XIAO LONG  11581   55.00  0.0   0.0
2    53403219.0  379009056  WU XIAO LONG  11581   63.00  0.0   0.0
3    53455697.0  379009056  WU XIAO LONG  11581   70.00  0.0   0.0
4    53477534.0  379009056  WU XIAO LONG  11581   60.00  0.0   0.0
..          ...        ...           ...    ...     ...  ...   ...
124  53454291.0  379036360       LI YING  17656  997.07  0.0   0.0
125  53319210.0  379019976       LI YONG  17960  295.42  0.0   0.0
126  53397191.0  379019976       LI YONG  17960  220.91  0.0   0.0
127  53509382.0  379019976       LI YONG  17960  219.94  0.0   0.0
128  53609136.0  379019976       LI YONG  17960  730.99  0.0   0.0

                   執行時間                              評論
0   2022-07-06 17:01:03          Trf From client: 11581
1   2022-07-08 17:50:58          Trf From client: 11581
2   2022-07-13 17:23:06          Trf From client: 11581
3   2022-07-15 09:46:39          Trf From client: 11581
4   2022-07-18 08:39:58          Trf From client: 11581
..                  ...                             ...
124 2022-07-15 08:40:01  USDBE [4157319]  RMB@6.82/$6,8
125 2022-07-11 03:17:01  BFT [4156097]  RMB@6.77/$2,000
126 2022-07-13 15:49:01  BFT [4156824]  RMB@6.79/$1,500
127 2022-07-19 13:15:01  BFT [4157809]  RMB@6.82/$1,500
128 2022-07-25 03:14:01  BFT [4158463]  RMB@6.84/$5,000

[1077 rows x 9 columns]

In [ ]:
print(data_concat[data_concat.duplicated(subset='單號',keep=False)])

             單號       客戶帳號         客戶名稱  介紹人賬戶       入金   出金  信用調整  \
16   53325973.0  379009580  LIU QIU BAI  11703   221.57  0.0   0.0
17   53381573.0  379009580  LIU QIU BAI  11703    62.00  0.0   0.0
18   53689405.0  379009580  LIU QIU BAI  11703   203.80  0.0   0.0
19   53759984.0  379009580  LIU QIU BAI  11703   117.00  0.0   0.0
20   53664252.0  379036565     PU XI AI  11703  1008.49  0.0   0.0
..          ...        ...          ...    ...      ...  ...   ...
124  53454291.0  379036360      LI YING  17656   997.07  0.0   0.0
125  53319210.0  379019976      LI YONG  17960   295.42  0.0   0.0
126  53397191.0  379019976      LI YONG  17960   220.91  0.0   0.0
127  53509382.0  379019976      LI YONG  17960   219.94  0.0   0.0
128  53609136.0  379019976      LI YONG  17960   730.99  0.0   0.0

                   執行時間                              評論
16  2022-07-11 08:33:01  BFT [4156141]  RMB@6.77/$1,500
17  2022-07-13 04:20:27          Trf From client: 11703
18  2022-07-28 04:23:23          Trf From client: 11703
19  2022-07-29 04:43:47          Trf From client: 11703
20  2022-07-27 09:34:01  BFT [4158901]  RMB@6.83/$6,888
..                  ...                             ...
124 2022-07-15 08:40:01  USDBE [4157319]  RMB@6.82/$6,8
125 2022-07-11 03:17:01  BFT [4156097]  RMB@6.77/$2,000
126 2022-07-13 15:49:01  BFT [4156824]  RMB@6.79/$1,500
127 2022-07-19 13:15:01  BFT [4157809]  RMB@6.82/$1,500
128 2022-07-25 03:14:01  BFT [4158463]  RMB@6.84/$5,000

[978 rows x 9 columns]

In [ ]:
datafin=data_concat.drop_duplicates(subset='單號',keep=False)

In [ ]:
display(datafin)

,單號,客戶帳號,客戶名稱,介紹人賬戶,入金,出金,信用調整,執行時間,評論
0,53253533.0,379009056,WU XIAO LONG,11581,56.00,0.0,0.0,2022-07-06 17:01:03,Trf From client: 11581
1,53314083.0,379009056,WU XIAO LONG,11581,55.00,0.0,0.0,2022-07-08 17:50:58,Trf From client: 11581
2,53403219.0,379009056,WU XIAO LONG,11581,63.00,0.0,0.0,2022-07-13 17:23:06,Trf From client: 11581
3,53455697.0,379009056,WU XIAO LONG,11581,70.00,0.0,0.0,2022-07-15 09:46:39,Trf From client: 11581
4,53477534.0,379009056,WU XIAO LONG,11581,60.00,0.0,0.0,2022-07-18 08:39:58,Trf From client: 11581
...,...,...,...,...,...,...,...,...,...
480,53476571.0,379009886,SUN ZAO,5970,1759.53,0.0,0.0,2022-07-18 07:08:01,"BFT [4157562] RMB@6.82/$12,00"
560,53423084.0,379007300,WU QIANG,8502,1001.47,0.0,0.0,2022-07-14 10:07:01,"USDBE [4156947] RMB@6.79/$6,8"
561,53647507.0,379007300,WU QIANG,8502,0.00,-501.0,0.0,2022-07-26 14:24:48,CltWithdraw
562,53424078.0,379035805,XU YU SHENG,8502,98.00,0.0,0.0,2022-07-14 10:17:13,Trf From client: 8502
563,53795195.0,379035805,XU YU SHENG,8502,348.00,0.0,0.0,2022-08-01 07:09:14,Trf From client: 8502

In [ ]:
datafin.to_excel('marginJerry2207.xlsx')